<footer>
  <div class="container">
    <div>
      <div class="left">
        <a href="#aot" class="logo">
          <span class="first-letter-logo">M</span>arcus
        </a>
        <span>&copy; Marcus Loosen 2024</span>
      </div>
      <div class="right">
        <div>
          <a href="https://github.com/MarcusLoo23" target="_blank"
            ><img src="assets/icons/github.png" alt=""
          /></a>
          <a href="mailto:mail@marcus-loosen.de" target="_blank"
            ><img src="assets/icons/email.png" alt=""
          /></a>
          <a
            href="https://www.linkedin.com/in/marcus-loosen-5011292a4/"
            target="_blank"
            ><img src="assets/icons/linkedIn.png" alt=""
          /></a>
        </div>
      </div>
    </div>
    @if (!translateService.translated) {
    <a href="impressum" class="link" target="_blank">Impressum</a>
    } @else {
    <a href="impressum" class="link" target="_blank">Imprint</a>
    }
  </div>
</footer>
